[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
uvicorn = "*"
pytest = "*"
pre-commit = "*"
pydantic = {version = ">=2", extras = ["mypy"]}

[dev-packages]

[requires]
python_version = "3.12"